<%= form_for(@project_update) do |f| %>
  <% if @project_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_update.errors.count, "error") %> prohibited this project_update from being saved:</h2>

      <ul>
        <% @project_update.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id, value: params[:project_id] %>
  <%= f.text_area :description, class: 'form-control' %>
  <button type="submit" class="btn btn-default btn-primary mt20" aria-label="Left Align">
    <%= t '.do_comment' %>
  </button>
<% end %>
