<div class="column__top">
  <div class="jumbotron">
    <div class="container">
      <div class="caption col-md-8 col-sm-12">
        <img src="http://www.codeforkanazawa.org/images/logo.png" alt="Code for Kanazawa">
        <div class="caption__text">
          <p><%= t '.overview' %></p>
          <% unless authorized? %>
            <p><%= link_to('Facebookで登録', '/auth/facebook', id: 'sign_in', class: 'btn btn-primary btn-lg') %></p>
          <% else %>
            <p><%= link_to('使い方を見る', help_path, class: 'btn btn-primary btn-lg') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <h2><%= t '.recent_project'  %></h2>
  <% if authorized? %>
    <%= link_to t('.post_project'), new_project_path , class: "btn btn-default btn-primary"%>
  <% end %>
  <div class="panel-group">
    <% @projects.each do |project| %>
      <%= render 'shared/project', project: project %>
    <% end %>
    <%= link_to t('.list_project'), projects_path, class: "btn btn-default" %>
  </div>
</div>
