<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= t('.need', project: @project.subject)%></h1>
    <%= t('mail.link_head')%> <%= link_to( t('mail.here'), project_url(id: @project.id), only_path: false) %> <%= t('mail.link_foot')%>
    <div>
      <%= t('mail.dont_res') %>
    </div>
    <hr/>
    <div>
      <%= description_text(@project.description, 255) %>
    </div>
    <hr/>
    <div>
      <%= t('mail.miss')%>
    </div>
    <div>
      <%= t('mail.footer')%>
    </div>
  </body>
</html>
