<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><%= t('.update', project: @project_update.project.subject)%></h1>
    <div>
      <%= t('.link_head')%> <%= link_to( t('.here'), project_url(id: @project_update.project.id), only_path: false) %> <%= t('.link_foot')%>
    </div>
    <div>
      <%= t('.dont_res') %>
    </div>
    <hr/>
    <div>
      <%= description_text(@project_update.description, 255) %>
    </div>
    <hr/>
    <div>
      <%= t('.miss') %>
    </div>
  </body>
</html>
