<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %>入力に誤りがあります</h2>

            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="user-edit">
        <div class="row">
            <div class="col-md-2">
                名前
            </div>
            <div class="col-md-10">
                <%= f.text_field :name %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                自己紹介
            </div>
            <div class="col-md-10">
                <%= f.text_area :description, :class => 'form-control' %>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default btn-primary" aria-label="Left Align">
        <%= f.submit %>
    </button>
<% end %>
