<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %>入力に誤りがあります</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user-edit">
    <div class="row">
      <div class="col-md-2">
        <%= t('dic.name')%>
      </div>
      <div class="input_text">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t('dic.self_intro')%>
      </div>
      <div class="input_text">
        <%= f.text_area :description, class: 'form-control', rows: 5 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t('dic.email')%>
      </div>
      <div class="input_text">
        <%= f.text_field :email, :class => 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t('dic.receive_all') %>
      </div>
      <div class="input_text">
        <%= f.label(:receive_all) do %>
          <%= f.check_box(:receive_all, checked: !@user.receive_all.nil? && @user.receive_all) %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t('dic.able_to')%>
      </div>
      <div class="col-md-2">
        <%= collection_check_boxes(:skill_names, :skill_ids, Skill.all, :name, :name) do |b| %>
          <%= b.label { b.check_box(checked: @my_skills.include?(b.text)) + b.text } %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t '.new_skill'%>
      </div>
      <div class="input_text">
        <%= text_field :new_skills, :new_skills  %>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
    <%= t('dic.update')%>
  </button>
<% end %>
