<%= provide(:title, t('title.users.index')) %>

<div class="content">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="member_title"><%= t('.members') %></div>
  <div class="row">
    <div class="col-md-4">
      <%= form_tag users_path, :method => 'GET' do %>
        <%= select_tag 'skill_id', options_for_select(@options, :selected => params[:skill_id]), :class => 'form-control' %>
        <button class="btn btn-default user-search__button" type="submit"><%= t('.query')%></button>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="member_section clearfix">
      <% @users.each do |user| %>
        <div class="member_list clearfix">
          <div class="member"><%= image_tag(user.image) %></div>
          <div class="member_name"><%= name_and_link(user) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
