<div class="content">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="content_inner">
    <div class="content_header clearfix">
      <div class="member"><%= image_tag(@user.image) %></div>
      <div class="member_name"><%= link_to @user.name, "https://www.facebook.com/app_scoped_user_id/#{@user.uid}/" %></div>
    </div>
    <div class="content_box">
      <p class="mb20">
        <%= description_text(@user.description) %>
      </p>
    </div>
    <div class="content_status">
      <div class="content_status_left">参加中</div>
      <div class="content_status_right">
        <%  @user.projects.each do |project| %>
          <%= link_to( project.subject, project_url(id: project.id)) %>
          <% if project != @user.projects.last %>
            ,
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="content_skill clearfix">
      <div class="content_status_left">スキル</div>
      <div class="content_status_right">
        <% @user.skills.map{|skill| skill.name}.each do |s| %>
        <span class="skill_web"><%= s %></span>
        <% end %>
      </div>
    </div>
  </div>


  <div class="content_control clearfix">
    <!-- <div class="btn"><a href="#">投稿を削除する</a></div> -->
    <% if authorized? && @my_user.id == @user.id %>
      <div class="btn"><%= link_to t('.edit'), edit_user_path(@user) %></div>
    <% end %>
  </div>
</div>
