<div class="content_inner">
  <div class="content_header clearfix">
    <div class="content_title"><%= link_to(project.subject, project_path(id: project.id)) %></div>
    <div class="content_member"><%= link_to (image_tag project.user.image, alt: project.user.name, title: project.user.name), user_path(id:project.user.id) %></div>
    <div class="content_time">
      <%= name_and_link(project.user) %><% t('dic.title') %><br/>
      <%= created_at_ago(project) %> <% t('dic.posted_on') %>
    </div>
  </div>
  <div class="content_box">
    <%=description_text(project.description)%>
  </div>

  <!-- SNS SHARE -->
  <div class="content_sns_share clearfix">
    <div class="content_sns_share_left">
      SNSシェア
    </div>
    <div class="content_sns_share_right">
      <%= facebook_share_btn(project_path(id: project.id)) %>
    </div>
  </div>

  <!-- URL -->
  <div class="content_development_url clearfix">
    <div class="content_development_url_left"><%= t('dic.url')  %></div>
    <div class="content_development_url_right">
      <%= link_to_if project.user_url, project.user_url, project.user_url do %>
        <span><%= t('dic.url') %>はありません</span>
      <% end %>
    </div>
  </div>

  <!-- 開発URL -->
  <div class="content_development_url clearfix">
    <div class="content_development_url_left"><%= t('dic.dev_url')  %></div>
    <div class="content_development_url_right">
      <%= link_to_if project.development_url,  project.development_url, project.development_url do %>
        <span><%= t('dic.dev_url') %>はありません</span>
      <% end %>
    </div>
  </div>

  <!-- ステータス -->
  <div class="content_status clearfix">
    <div class="content_status_left"><%= t('dic.status') %></div>
    <div class="content_status_right"><%= link_to project.stage.name, ENV['LINK_ABOUT_PROJECT_STATUS'], target: '_blank' %></div>
  </div>

  <!-- 元の課題 -->
  <div class="content_parent_project clearfix">
    <div class="content_parent_project_left"><%= t('dic.parent_project') %></div>
    <div class="content_parent_project_right">
      <% unless project.project.nil? %>
        <%= link_to project.project.subject, project_path(id: project.project.id) %>
      <% end %>
    </div>
  </div>

  <!-- 関連課題(子) -->
  <div class="content_child_project clearfix">
    <div class="content_child_project_left"><%= t('dic.child_project') %></div>
    <div class="content_child_project_right">
      <% project.projects.each do |p| %>
        <%= link_to p.subject, project_path(id: p.id) %> <br/>
      <% end %>
    </div>
  </div>

  <!-- 募集スキル -->
  <div class="content_skill clearfix">
    <div class="content_status_left"><%= t('dic.wantskill') %></div>
    <div class="content_status_right">
      <% project.skills.each do |s| %>
        <%= link_to users_path(skill_id: s.id) do %>
          <span class="skill_web"><%= s.name %></span>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- 参加者 -->
  <div class="content_join clearfix">
    <div class="content_join_left">参加者一覧</div>
    <div class="content_join_right">
      <% project.users.each do |user| %>
        <span class="join_thum"><%= link_to image_tag(user.image, alt: user.name, title: user.name), user_path(id: user.id) %></span>
      <% end %>
    </div>
  </div>
</div>
