<h3><%= link_to(project.subject, project_path(id: project.id)) %></h3>
<p><%= facebook_share_btn(request.host + project_path(id: project.id)) %></p>
<p><span class="label label-default"><%= project.stage.name %></span>&emsp;<span class="small"><%= name_and_link(project.user) %><% t('dic.title') %>&emsp;<%= project.created_at.strftime("%Y-%m-%d %H:%M") %><% t('dic.posted_on') %></span></p>
<div class="panel panel-default">
  <div class="panel-body">
    <%= project.description %>
  </div>
</div>
