<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="project-detail__define">
        <div class="row">
            <div class="col-md-2">
                タイトル 
            </div>
            <div class="col-md-10">
                <%= f.text_field :subject, :class => 'form-control' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                URL
            </div>
            <div class="col-md-10">
                <%= f.text_field :user_url, :class => 'form-control' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Github URL
            </div>
            <div class="col-md-10">
                <%= f.text_field :development_url, :class => 'form-control' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                詳細
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= f.text_area :description, :class => 'form-control' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <button type="button" class="btn btn-default btn-primary" aria-label="Left Align">
        <%= f.submit %>
        </button>
    </div>
<% end %>
