<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br>
    <%= f.number_field :stage_id %>
  </div>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :user_url %><br>
    <%= f.text_field :user_url %>
  </div>
  <div class="field">
    <%= f.label :development_url %><br>
    <%= f.text_field :development_url %>
  </div>
  <div class="field">
    <%= f.label :delete_flag %><br>
    <%= f.number_field :delete_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
