<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="project-detail__define">
    <div class="row">
      <div class="col-md-2">
        <%= t 'dic.title' %>
      </div>
      <div class="input_text">
        <%= f.text_field :subject %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        URL
      </div>
      <div class="input_text">
        <%= f.url_field :user_url, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t '.dev_url' %>
      </div>
      <div class="input_text">
        <%= f.url_field :development_url, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t 'dic.detail' %>
      </div>
      <div class="input_text">
          <%= f.text_area :description, class: 'form-control', rows: 5 %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t '.skill'%>
      </div>
      <div class="col-md-2">
        <%= collection_check_boxes(:skill_names, :skill_ids, Skill.all, :name, :name) do |b| %>
          <%= b.label { b.check_box(checked: @my_skills.include?(b.text)) + b.text } %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t '.new_skill'%>
      </div>
      <div class="input_text">
        <%= text_field :new_skills, :new_skills  %>
      </div>
    </div>
    <% if (params[:action] == 'edit') then %>
      <div class="row">
        <div class="col-md-2">
          <%= t 'dic.status' %>
        </div>
        <div class="col-md-10">
          <div class="form-inline mt10">
            <%= f.select :stage_id, @stages.map{ |stage| [stage.name, stage.id] }, :selected => @project.stage_id %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if (params[:action] == 'edit') then %>
    <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
      <%= t 'dic.do_edit' %>
    </button>
  <% else %>
  <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
    <%= t 'dic.do_create' %>
  </button>
  <% end %>
<% end %>
