<%= form_for(@project) do |f| %>
  <%= hidden_field_tag :from, @from.to_s %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="project-detail__define">
    <!-- タイトル -->
    <div class="row">
      <% if @parent_project.nil? %>
      <% else %>
        <%= f.hidden_field :project_id, value: @parent_project.id %>
      <% end %>
      <div class="col-md-2">
        <%= t 'dic.title' %>
      </div>
      <div class="input_text">
        <%= f.text_field :subject, placeholder: t('dic.ex_subject') %>
      </div>
    </div>

    <!-- URL -->
    <div class="row">
      <div class="col-md-2">
        URL
      </div>
      <div class="input_text">
        <%= f.url_field :user_url, class: 'form-control', placeholder: t('dic.ex_url') %>
      </div>
    </div>

    <!-- 開発URL -->
    <div class="row">
      <div class="col-md-2">
        <%= t '.dev_url' %>
      </div>
      <div class="input_text">
        <p>
          <%= f.url_field :development_url, class: 'form-control', placeholder: t('dic.ex_devurl') %>
        </p>
        <p>
          <%= t('.recommend_dev_url')%>
        </p>
      </div>
    </div>

    <!-- 詳細 -->
    <div class="row">
      <div class="col-md-2">
        <%= t 'dic.detail' %>
      </div>
      <div class="input_text">
        <%= f.text_area :description, class: 'form-control', rows: 5, placeholder: t('dic.ex_description') %>
      </div>
    </div>

    <!-- 必要なスキル -->
    <div class="row">
      <div class="col-md-2">
        <%= t '.skill'%>
      </div>
      <div class="col-md-2">
        <p>
        <%= collection_check_boxes(:skill_names, :skill_ids, Skill.all, :name, :name) do |b| %>
          <%= b.label { b.check_box(checked: @my_skills.include?(b.text)) + b.text } %>
        <% end %>
        </p>
        <p>
          <%= t('.recommend_skill')%>
        </p>
      </div>
    </div>

    <!-- 必要なスキル(まだ作られていない) -->
    <div class="row">
      <div class="col-md-2">
        <%= t '.new_skill'%>
      </div>
      <div class="input_text">
        <%= text_field :new_skills, :new_skills, placeholder: t('dic.ex_skills') %>
      </div>
    </div>
    <% if (params[:action] == 'edit') then %>
      <div class="row">
        <div class="col-md-2">
          <%= t 'dic.status' %> <%= link_to t('dic.detail'), ENV['LINK_ABOUT_PROJECT_STATUS'], target: '_blank' %>
        </div>
        <div class="col-md-10">
          <div class="form-inline mt10">
            <%= f.select :stage_id, @stages.map{ |stage| [stage.name, stage.id] }, :selected => @project.stage_id %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!-- 利用規約確認ボタン -->
  <% if (params[:action] == 'edit') then %>
    <div>
      <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
        <%= t 'dic.do_edit' %>
      </button>
    </div>
  <% else %>
    <div>
      <label for="agree_message_check">
        <input type="checkbox" id="agree_message_check" name="agreecheck" value="1">
        <%= link_to t('dic.user_term'), ENV['LINK_USER_TERMS'], target: '_blank' %><%= t('dic.user_term_check')%>
      </label>
    </div>
    <div>
      <button type="submit" disabled id="need_agree_button" class="btn btn-default btn-primary" aria-label="Left Align">
        <%= t 'dic.do_create' %>
      </button>
    </div>
  <% end %>
<% end %>
