<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="project-detail__define">
    <div class="row">
      <div class="col-md-2">
        <%= t 'dic.title' %>
      </div>
      <div class="col-md-10">
        <%= f.text_field :subject, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        URL
      </div>
      <div class="col-md-10">
        <%= f.url_field :user_url, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        Github URL
      </div>
      <div class="col-md-10">
        <%= f.url_field :development_url, class: 'form-control' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t 'dic.detail' %>
      </div>
      <div class="col-md-10">
        <div class="panel panel-default">
          <%= f.text_area :description, class: 'form-control', rows: 5 %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= t '.skill'%>
      </div>
      <div class="col-md-10">
        <div class="quick-add">
          <div class="quick-add__list">
            <button type="button" class="btn btn-default btn-xs quick-add__item--template" style="display:none">
              <span class="quick-add__item-name"></span>
              <span class="glyphicon glyphicon-remove"></span>
              <input type="hidden" name="" value="" class="quick-add__hidden">
            </button>
            <% @project.skills.each do |skill| %>
              <button type="button" class="btn btn-default btn-xs quick-add__item">
                <span class="quick-add__item-name"><%= skill.name %></span>
                <span class="glyphicon glyphicon-remove"></span>
                <input type="hidden" name="skill_names[]" value="<%= skill.name %>" class="quick-add__hidden">
              </button>
            <% end %>
          </div>
          <div class="form-inline mt10">
            <input type="input" type="text" list="skill_names" class="form-control quick-add__input">
            <datalist id="skill_names">
              <% @skills.each do |skill| %>
                <option value="<%= skill.name %>"></option>
              <% end %>
            </datalist>
            <button type="button" class="btn btn-default btn-sm quick-add__btn"><%= t('dic.add')%></button>
          </div>
        </div>
      </div>
    </div>
    <% if (params[:action] == 'edit') then %>
      <div class="row">
        <div class="col-md-2">
          <%= t 'dic.status' %>
        </div>
        <div class="col-md-10">
          <div class="form-inline mt10">
            <%= f.select :stage_id, @stages.map{ |stage| [stage.name, stage.id] }, :selected => @project.stage_id %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if (params[:action] == 'edit') then %>
    <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
      <%= t 'dic.do_edit' %>
    </button>
  <% else %>
  <button type="submit" class="btn btn-default btn-primary" aria-label="Left Align">
    <%= t 'dic.do_create' %>
  </button>
  <% end %>
<% end %>
