<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stage</th>
      <th>Subject</th>
      <th>Description</th>
      <th>User url</th>
      <th>Development url</th>
      <th>Delete flag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user_id %></td>
        <td><%= project.stage_id %></td>
        <td><%= project.subject %></td>
        <td><%= project.description %></td>
        <td><%= project.user_url %></td>
        <td><%= project.development_url %></td>
        <td><%= project.delete_flag %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
