<% content_for :ogp do %>
  <%= render 'shared/ogp_project', project: @project %>
<% end %>
<div class="content">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="content_inner">
    <div class="content_header clearfix">
      <div class="content_title"><%= link_to(@project.subject, project_path(id: @project.id)) %></div>
      <div class="content_member">
        <%= link_to (image_tag @project.user.image, alt: @project.user.name), user_path(id: @project.user.id) %>
      </div>
      <div class="content_time">
        <%= name_and_link(@project.user) %><% t('dic.title') %>&emsp;<%= @project.created_at.strftime("%Y-%m-%d %H:%M") %><% t('dic.posted_on') %>
      </div>
    </div>
    <div class="content_box">
      <%=description_text(@project.description)%>
    </div>
    <div class="content_status clearfix">
      <div class="content_status_left">ステータス</div>
      <div class="content_status_right"><%= @project.stage.name %></div>
    </div>
    <div class="content_skill clearfix">
      <div class="content_status_left">募集スキル</div>
      <div class="content_status_right">
        <% @project.skills.map{|skill|skill.name}.each do |s| %>
          <span class="skill_web"><%= s%></span>
        <% end %>
      </div>
    </div>
    <div class="content_join clearfix">
      <div class="content_join_left">参加者一覧</div>
      <div class="content_join_right">
        <% @project.users.each do |user| %>
          <span class="join_thum"><%= link_to image_tag(user.image, alt: user.name), user_path(id: user.id) %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="content_control clearfix">
    <!-- <div class="btn"><a href="#">投稿を削除する</a></div> -->
    <% if authorized? %>
      <div class="btn"><%= link_to t('.write_comment'), new_project_update_path(project_id: @project.id) %></div>
      <% if @project.user.id == @my_user.id %>
        <div class="btn"><%= link_to t('.edit'), edit_project_path, class: "btn btn-default btn-primary" %></div>
      <% end %>
      <% if @joined %>
        <div class="btn">
          <%= link_to( t('projects.show.leave'), {controller: :projects, action: :leave, id: @project.id}) %>
        </div>
      <% else %>
        <div class="btn">
            <%= link_to( t('projects.show.join'), {controller: :projects, action: :join, id: @project.id}) %>
          </div>
      <% end %>
    <% else %>
      <div class="btn">
        <%= link_to( t('projects.show.login'), '/auth/facebook', id: 'sign_in') %>
      </div>
        ( <%= t('projects.show.login_recomendation') %> )
    <% end %>
  </div>

  <% @project.project_updates.reverse.each do |update| %>
    <div class="comment clearfix">
      <div class="comment_thum">
        <%= link_to image_tag(update.user.image, alt: update.user.name), user_path(id: update.user.id) %>
      </div>
      <div class="comment_text">
        <p><%= description_text(update.description) %></p>
        <p class="comment_author"><%= update.created_at.strftime("%Y-%m-%d %H:%M") %> <%= t 'dic.posted_on' %></p>
      </div>
    </div>
  <% end %>
</div>
