<div class="content">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <div class="content_inner">
    <div class="content_header clearfix">
      <div class="content_title"><%= link_to(@project.subject, project_path(id: @project.id)) %></div>
      <div class="content_member">
        <%= link_to (image_tag @project.user.image, alt: @project.user.name), user_path(id: @project.user.id) %>
      </div>
      <div class="content_time">
        <%= name_and_link(@project.user) %><% t('dic.title') %><br/>
        <%= time_ago_in_words @project.created_at %> <%= t('dic.posted_on') %>
      </div>
    </div>
    <div class="content_box">
      <%= description_text(@project.description) %>
    </div>

    <!-- SNS SHARE -->
    <div class="content_sns_share clearfix">
      <div class="content_sns_share_left">
        <%= t('dic.sns')%>
      </div>
      <div class="content_sns_share_right">
        <%= facebook_share_btn(project_path(id: @project.id)) %>
      </div>
    </div>

    <!-- 開発URL -->
    <div class="content_development_url clearfix">
      <div class="content_development_url_left"><%= t('dic.dev_url')  %></div>
      <div class="content_development_url_right"><%= link_to @project.development_url, @project.development_url %></div>
    </div>

    <!-- ステータス -->
    <div class="content_status clearfix">
      <div class="content_status_left"><%= t('dic.status') %></div>
      <div class="content_status_right"><%= @project.stage.name %></div>
    </div>

    <!-- 元の課題 -->
    <div class="content_parent_project clearfix">
      <div class="content_parent_project_left"><%= t('dic.parent_project') %></div>
      <div class="content_parent_project_right">
        <% unless @project.project.nil? %>
          <%= link_to @project.project.subject, project_path(id: @project.project.id) %>
        <% end %>
      </div>
    </div>

    <!-- 関連課題(子) -->
    <div class="content_child_project clearfix">
      <div class="content_child_project_left"><%= t('dic.child_project') %></div>
      <div class="content_child_project_right">
        <% @project.projects.each do |p| %>
          <%= link_to p.subject, project_path(id: p.id) %> <br/>
        <% end %>
      </div>
    </div>

    <!-- 募集スキル -->
    <div class="content_skill clearfix">
      <div class="content_skill_left"><%= t('dic.wantskill') %></div>
      <div class="content_skill_right">
        <% @project.skills.map{|skill|skill.name}.each do |s| %>
          <span class="skill_web"><%= s %></span>
        <% end %>
      </div>
    </div>

    <!-- メンバーリスト -->
    <div class="content_join clearfix">
      <div class="content_join_left"><%= t('dic.member_list') %></div>
      <div class="content_join_right">
        <% @project.users.each do |user| %>
          <span class="join_thum"><%= link_to image_tag(user.image, alt: user.name), user_path(id: user.id) %></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="content_control clearfix">
    <!-- <div class="btn"><a href="#">投稿を削除する</a></div> -->
    <% if authorized? %>
      <div class="btn"><%= link_to t('.write_comment'), new_project_update_path(project_id: @project.id) %></div>
      <div class="btn">
        <%= link_to '関連課題を投稿', new_project_path(parent_id: @project.id) %>
      </div>
      <% if @project.user.id == @my_user.id %>
        <div class="btn"><%= link_to t('.edit'), edit_project_path, class: "btn btn-default btn-primary" %></div>
      <% end %>
      <% if @joined %>
        <% if @project.user.id != @my_user.id %>
          <div class="btn">
            <%= link_to( t('projects.show.leave'), {controller: :projects, action: :leave, id: @project.id}) %>
          </div>
        <% end %>
      <% else %>
        <div class="btn">
            <%= link_to( t('projects.show.join'), {controller: :projects, action: :join, id: @project.id}) %>
          </div>
      <% end %>
    <% else %>
      <div class="btn">
        <%= link_to( t('projects.show.login'), '/auth/facebook', id: 'sign_in') %>
      </div>
        ( <%= t('projects.show.login_recomendation') %> )
    <% end %>
  </div>

  <% @project.project_updates.reverse.each do |update| %>
    <div class="comment clearfix" id="comment-<%=update.id%>">
      <div class="comment_thum">
        <%= link_to image_tag(update.user.image, alt: update.user.name), user_path(id: update.user.id) %>
      </div>
      <div class="comment_text">
        <p><%= description_text(update.description) %></p>
        <p class="comment_author">
          <%= link_to  time_ago_in_words(update.created_at), project_path(id: @project.id, anchor: "comment-#{update.id}") %> <%= t 'dic.posted_on' %>
          <% if authorized? && (update.user_id == @my_user.id || @project.user_id == @my_user.id) %>
            <%= link_to t('dic.do_edit'),   edit_project_update_path(update, project_id: @project.id) %> -
            <%= link_to t('dic.do_delete'), project_update_path(update, project_id: @project.id), method: :delete %>
          <% end %>
          <br/>
          <% update.project_update_histories.order(created_at: :desc).each do |history| %>
            <%= history.user.name %> が <%= time_ago_in_words(history.created_at) %> に更新 <br/>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
