<div class="container project-detail">
    <p id="notice"><%= notice %></p>
    <h1 class="mb20"><%= @project.subject %></h1>
    <button type="button" class="btn btn-default btn-primary btn-sm" aria-label="Left Align">
        <%= link_to('編集する', edit_project_path) %>
    </button>
    <div class="project-detail__define mt20">
        <div class="row">
            <div class="col-md-2">
                URL
            </div>
            <div class="col-md-10">
                <%= @project.user_url %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Github URL
            </div>
            <div class="col-md-10">
                <%= @project.development_url %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                立てた人
            </div>
            <div class="col-md-10">
                username
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                メンバー
            </div>
            <div class="col-md-10">
                username, 名前, なまえ, aaaaaaa, hogeさん
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                ステージ
            </div>
            <div class="col-md-10">
                調査中
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                必要なスキル
            </div>
            <div class="col-md-10">
                Ruby on Rails
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                詳細
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= @project.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project--follow-list">
        
        <button type="button" class="btn btn-default btn-primary btn-sm" aria-label="Left Align">
            フォローを書く
        </button>
        <% for i in (1..10).to_a.reverse do %>
            <h5>#<%= i %> <span class="small">shimazuさんから 03/02 11:11</span></h5>
            <div class="panel panel-default">
                <div class="panel-body">
                    Adipisicing natus beatae corrupti quaerat porro. Iusto qui distinctio dolorem deleniti totam repudiandae nostrum culpa! Voluptatum officia delectus porro corrupti error facere f.....
                </div>
            </div>
        <% end %>
        <button type="button" class="btn btn-default btn-primary btn-sm" aria-label="Left Align">
            <%= link_to('フォローを書き込む', project_edit_path, :class => 'link--inner') %>
        </button>
    </div>
</div>
