<% require 'date' %>
<div class="container project-detail">
    <p id="notice"><%= notice %></p>
    <h1 class="mb20"><%= @project.subject %></h1>
    <% if authorized? %>
    <button type="button" class="btn btn-default btn-primary btn-sm" aria-label="Left Align">
            <%= link_to('編集する', edit_project_path) %>
    </button>
    <% end %>
    <div class="project-detail__define mt20">
        <div class="row">
            <div class="col-md-2">
                URL
            </div>
            <div class="col-md-10">
                <%= @project.user_url %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                Github URL
            </div>
            <div class="col-md-10">
                <%= @project.development_url %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                立てた人
            </div>
            <div class="col-md-10">
                <%= @project.user.name %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                メンバー
            </div>
            <div class="col-md-10">
                username, 名前, なまえ, aaaaaaa, hogeさん
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                ステージ
            </div>
            <div class="col-md-10">
                調査中
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                必要なスキル
            </div>
            <div class="col-md-10">
                Ruby on Rails
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                詳細
            </div>
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <%= @project.description %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="project--follow-list">
        
        <% if authorized? %>
        <button type="button" class="btn btn-default btn-primary btn-sm mb20" aria-label="Left Align">
            <%= link_to 'フォローを書く', new_project_update_path(:project_id => @project.id) %>
        </button>
        <% end %>
        <% @project.project_updates.reverse.each do |update| %>
            <p><span class="small"><%= update.user.name %>さんから <%= update.created_at %></span></p>
            <div class="panel panel-default">
                <div class="panel-body">
                    <%= update.description %>
                </div>
            </div>
        <% end %>
    </div>
</div>
