<!DOCTYPE html>
<html lang="ja" class="build-menu-close">
  <head>
    <meta charset="utf-8">
    <title>ha4go</title>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1,initial-scale=1" />
    <% unless Array(@rss_urls).length == 0 %>
      <% @rss_urls.each do |rss| %>
        <link rel="alternate" type="application/rss+xml" title="RSS" href="<%=rss%>" />
      <% end %>
    <% end %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <% if @use_custom_ogp %>
      <%= render 'shared/ogp_project', project: @project %>
    <% else %>
      <%= render partial: "shared/ogp_common" %>
    <% end %>
    <%= yield :twitter_card %>
    <%= %>
  </head>
  <body>
    <div class="all">
      <header id="pc_header">
        <section class="container clearfix">
          <div class="header_left">
            <h1><%= link_to( "Code for Kanazawa", '/' ) %></h1>
          </div>
          <div class="header_center">
            <h2><%= link_to( image_tag('matsu/logo.png'), '/') %></h2>
          </div>
          <div class="header_right">
            <div class="header_nav">
              <ul id="first_ul" class="drop_nav">
                <li class="nav-child">
                  <a href="#"><%= image_tag('matsu/header_item3.png') %></a>
                  <!--プルダウンメニュー-->
                  <ul class="sub_nav">
                    <% if authorized? %>
                      <li><%= link_to( t('dic.mypage'), user_path(id: @my_user.id)) %></li>
                      <li><%= link_to( t('dic.logout'), signout_path, id: 'sign_out') %></li>
                      <li><%= link_to( t('dic.post_project_do'), new_project_path , class: "btn btn-default btn-primary") %></li>
                    <% else %>
                      <li><%= link_to( t('dic.login'), '/auth/facebook', id: 'sign_in') %></li>
                    <% end %>
                    <li><%= link_to( t('dic.member'), users_path) %></li>
                  </ul>
                  <!--プルダウンメニューここまで-->
                </li>
              </ul>
            </div>
            <% if authorized? %>
              <div class="user_name"><%= @my_user.name %></div>
              <div class="login_after">
                <span class="login_thum"><%= image_tag @my_user.image %></span>
              </div>
              <div class="post_content">
                <%= link_to( image_tag('matsu/header_item1.png'), new_project_path) %>
              </div>
            <% else %>
              <div class="login">
                <%= link_to( image_tag('matsu/header_item2.png'), '/auth/facebook', id: 'sign_in') %>
              </div>
            <% end %>
          </div>
        </section>
      </header>
      <!--スマートフォン用ヘッダーここから-->
      <header id="sp_header">
        <section class="container clearfix">
          <div class="sp_header_title"><%= link_to( "Code for Kanazawa", '/' ) %></div>
          <div class="sp_header_logo">
            <h2><%= link_to( image_tag('matsu/logo.png'), '/') %></h2>
          </div>
          <div class="sp_header_nav">
            <nav id="mobile-bar"></nav>
            <nav id="sp_nav">
              <ul>
                <% if authorized? %>
                  <li class="li_sub">
                    <%= link_to t('dic.post_project_do'), new_project_path , class: "btn btn-default btn-primary" %>

                  </li>
                  <li class="li_sub">
                    <%= link_to( t('dic.mypage'), user_path(id: @my_user.id)) %>
                  </li>
                  <li class="li_sub">
                    <%= link_to( t('dic.logout'), signout_path, id: 'sign_out') %>
                  </li>
                <% else %>
                  <li class="li_sub"><%= link_to( t('dic.login'), '/auth/facebook', id: 'sign_in') %></li>
                <% end %>
                <li class="li_sub"><%= link_to( t('dic.member'), users_path) %></li>
              </ul>
            </nav>
          </div>
        </section>
      </header>
      <!--スマートフォン用ヘッダーここまで-->
      <!--コンテンツ-->
      <div id="wrapper">
        <article>
          <div class="container clearfix">
            <%= yield %>
            <div class="menu">
              <div class="clearfix">
                <div class="menu01">
                  <%= link_to t('dic.project_recent'), projects_path(type: 'recent', order: 'desc') %>
                </div>
                <div class="menu02">
                  <%= @projects_recent_count %>
                </div>

                <div class="menu01">
                  <%= link_to t('dic.project_hot'), projects_path(type: 'hotrank') %>
                </div>
                <div class="menu02">
                  <%= @projects_hot_rank_count %>
                </div>

                <div class="menu01">
                  <%= link_to t('dic.project_recruiting'), projects_path(type: 'recruiting') %>
                </div>
                <div class="menu02">
                  <%= @projects_recruiting_count %>
                </div>

                <div class="menu01">
                  <%= link_to t('dic.project_all'), projects_path %>
                </div>
                <div class="menu02">
                  <%= @projects_all_count %>
                </div>
              </div>
              <% if authorized? %>
                <div class="menu_post">
                  <%= link_to image_tag('matsu/menu_item01.png'), new_project_path %>
                </div>
              <% end %>
              <section class="menu_news">
                <h1>運営事務局からのお知らせ</h1>
                <dl>
                  <dt>2016-9-4</dt>
                  <dd>RSSに対応など。</dd>
                </dl>
                <dl>
                  <dt>2016-9-1</dt>
                  <dd>少しバージョンアップ。Facebookシェアボタンを復活。</dd>
                </dl>
                <dl>
                  <dt>2016-8-9</dt>
                  <dd>少しバージョンアップ。</dd>
                </dl>
                <dl>
                  <dt>2016-7-14</dt>
                  <dd>パブリックベータ開始。</dd>
                </dl>
              </section>
            </div>
          </div>
        </article>
      </div>
      <!--コンテンツ-->

      <footer>
        <div class="container clearfix">
        </div>
      </footer>
      <div class="copyright">
        copyright(c) 2016 ha4go All Right Reserved.
      </div>
    </div>

    <%= javascript_include_tag :jquery, :bootstrap, :jquery_ujs, 'matsu/jquery.mobile-menu' %>
    <%= render 'shared/facebook' %>
    <%= render 'shared/twitter' %>
    <%= analytics_init if Rails.env.production? %>
    <script>
     $(function(){
       $("body").mobile_menu({
         menu: ['#sp_nav ul'],
         menu_width: 260,
         prepend_button_to: '#mobile-bar',
         button_content: '<img src="<%= asset_path "matsu/nav.gif" %>" width="20px">'
         //     button_content: '<img src="matsu/images/nav.gif" width="20px">'
       });
     });
    </script>
  </body>
</html>
