<!DOCTYPE html>
<html>
<head>
  <title>ha4go</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <%= link_to('Code for Kanazawa', root_path, :class => 'navbar-brand') %>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <% if authorized? %>
                    <li><%= link_to('ログアウト', signout_path, id: 'sign_out') %></li>
                    <li><%= link_to('マイページ', user_path(id: @my_user.id)) %></li>
                <% else %>
                    <li><%= link_to('ログイン', '/auth/facebook', id: 'sign_in') %></li>
                <% end %>
                <li><%= link_to('メンバー', users_path) %></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="spacer-navbar"></div>

<%= yield %>

<%= javascript_include_tag :jquery, :bootstrap, :jquery_ujs %>
</body>
</html>
